.Select {
    margin: 10px auto;
    width: 90%;
}
.DayPicker-Day {
    padding: 0.3rem;
    
}
.date-range {
    width: 90%;
    margin: 0 auto;
    color: white;
}
.DayPicker {
    width: 100%;
    color:white;
}