html,body,div,ul,ol,li,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
    -webKit-margin-start: 0;
    -webKit-padding-start: 0;
   }

.main-menu {
    width:10%;
    position:fixed;
    left:0;
    background-color: #2c2b5d;
    color:white;
    top:0;
    height: 500px;
    min-width: 110px;
}
.main-menu h2 {
    text-align: center;
}
.nav-butt-menu {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 10px;
    color: white;
}
.nav-butt-menu:hover {
    background-color: teal;
    transition: all 1s ease;
}
.articles-container {
    position: absolute;
    width:90%;
    left:10%;
    top:0;
}
.articles-titels-container {
    background-color: #2c2b5d;
    width: 20%;
    float: left;
    border-left: solid 1px white;
    height: 500px;
}
.articles-titels-container a
{
    color:white;
    text-decoration: none;
}
.articles-titels-container ul li {
    list-style-type: none;
    padding: 5px 15px;
    border-bottom: solid 1px white;
}
.articles-titels-container ul li:hover {
    background-color: teal;
    transition: all 1s ease;
}
.article-loader, .select-article {
    position: absolute;
    left: 45%;
    top:150px;
}
.article-container {
    float: left;
    width: 75%;
    padding: 2%; 
    overflow: auto;
}
.article-title
{
    text-align: center;
    margin:10px auto;
    font-size: 25px;
}
.article-content{
    margin-bottom: 10px;
}
.comment-list li {
    list-style-type: none;
    padding:10px 0;
}
.article-loader{
    
}