html,body,div,ul,ol,li,p,h1,h2,h3,h4{
    margin:0;
    padding:0;
    -webKit-margin-start: 0;
    -webKit-padding-start: 0;
   }

.main-menu {
    width:10%;
    position:fixed;
    left:0;
    background-color: #2c2b5d;
    color:white;
    top:0;
    height: 100%;
    min-width: 110px;
}
.main-menu h2 {
    text-align: center;
}
.nav-butt-menu {
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 10px;
    color: white;
}
.nav-butt-menu:hover {
    background-color: teal;
    transition: all 1s ease;
}
.articles-container {
    position: absolute;
    width:90%;
    left:10%;
    top:0;
    height: 100%
}
.articles-titels-container {
    background-color: #2c2b5d;
    width: 20%;
    position: fixed;
    border-left: solid 1px white;
    height: 100%;
}
.articles-titels-container a
{
    color:white;
    text-decoration: none;
}
.articles-titels-container ul li {
    list-style-type: none;
    padding: 5px 15px;
    border-bottom: solid 1px white;
}
.articles-titels-container ul li:first-child {
    border-top: solid 1px white;
}
.articles-titels-container ul li:hover {
    background-color: teal;
    transition: all 1s ease;
}
.articles-tytles-loader, .select-article {
    position: absolute;
    left: 45%;
    top:150px;
}
.article-container {
    position: relative;
    width: 70%;
    padding: 2%; 
    overflow: auto;
    left: 24%;
}
.article-title
{
    text-align: center;
    margin:10px auto;
    font-size: 25px;
}
.article-content{
    margin-bottom: 10px;
}
.article-loader, .comment-loader {
    top:50px;
    text-align: center;
}
.comment-list li {
    list-style-type: none;
    padding:10px 0;
}
.button-menu{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 8px 10px;
    color: white;
}
.comment-form ul{
    width:100%;
    list-style-type:none;
    list-style-position:outside;
    margin:0px;
    padding:0px;
}
.comment-form li{
    padding:12px;
    border-bottom:1px solid #eee;
    position:relative;
}
.comment-form li:first-child, .comment-form li:last-child {
    border-bottom:1px solid #777;
}
.comment-form *:focus,.article-container button:focus {outline: none;}
.comment-form label {
    width:150px;
    margin-top: 3px;
    display:inline-block;
    float: left;
    padding:3px;
   }
   .comment-form input {
    height:20px;
    width:220px;
    padding:5px 8px;
   }
   .comment-form textarea {padding:8px; width:300px;}
   .comment-form button {margin-left:156px;}
   .comment-form input, .comment-form textarea {
    border:1px solid #aaa;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:2px;
   }
   .comment-form input:focus, .comment-form textarea:focus {
    background: #fff;
    border:1px solid #555;
    box-shadow: 0 0 3px #aaa;
   }
   /* Button Style */
   .article-container button {
    background-color: #68b12f;
    background: -webkit-gradient(linear, left top, left bottom, from(#68b12f), to(#50911e));
    background: -webkit-linear-gradient(top, #68b12f, #50911e);
    background: -moz-linear-gradient(top, #68b12f, #50911e);
    background: -ms-linear-gradient(top, #68b12f, #50911e);
    background: -o-linear-gradient(top, #68b12f, #50911e);
    background: linear-gradient(top, #68b12f, #50911e);
    border: 1px solid #509111;
    border-bottom: 1px solid #5b992b;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    box-shadow: inset 0 1px 0 0 #9fd574;
    -webkit-box-shadow: 0 1px 0 0 #9fd574 inset ;
    -moz-box-shadow: 0 1px 0 0 #9fd574 inset;
    -ms-box-shadow: 0 1px 0 0 #9fd574 inset;
    -o-box-shadow: 0 1px 0 0 #9fd574 inset;
    color: white;
    font-weight: bold;
    padding: 6px 20px;
    text-align: center;
    text-shadow: 0 -1px 0 #396715;
   }
   .article-container button:hover {
    opacity:.85;
    cursor: pointer;
   }
   .article-container button:active {
    border: 1px solid #20911e;
    box-shadow: 0 0 10px 5px #356b0b inset;
    -webkit-box-shadow:0 0 10px 5px #356b0b inset ;
    -moz-box-shadow: 0 0 10px 5px #356b0b inset;
    -ms-box-shadow: 0 0 10px 5px #356b0b inset;
    -o-box-shadow: 0 0 10px 5px #356b0b inset;
   }
   .delete-article{
       margin-top:10px; 
   }
   .page-home{
    position: absolute;
    width: 90%;
    left: 10%;
}
.page-home img{
    width: 100%;
}